<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= dijit_full_name %></title>

    <script type="text/javascript" src="/ria/src/dojo/dojo.js" djConfig="isDebug:false,parseOnLoad:true"> </script>
    <script src="<%= dijit_class_name %>.js"></script>
    <%= config.generators.head_of_test_page %>
    <link rel="stylesheet" href="/<%= style_path %>" type="text/css" />
  </head>
  <body class="app">
    <div dojoType="<%= dijit_full_name %>" jsId="<%= dijit_class_name.camelize(:lower) %>">
    </div>
  </body>
</html>

